.vscode/
.github/
lib/*/test/
lib/**/*.js.map
lib/*/*/*.d.ts
src/
build/
coverage/
test/
.eslintrc.json
.gitignore
.travis.yml
gulpfile.js
tslint.json
package-lock.json
azure-pipelines.yml
.editorconfig
.mocharc.json
.nyc_output/